@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --raleway : 'Raleway', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--raleway);
}
input{
  outline: none;
}

textarea{
  resize: none !important;
  border: 1px solid #d8d7d4;
  overflow: auto;
  outline: none;
  padding: 0.25rem;
}

a:hover{
  color: #8041E7 !important;
}

.hero-section{
  height: 100vh;
}

header.scrolled{
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
}

.hero-badge{
  animation: up-down 5s ease-in-out infinite alternate-reverse both;
  -webkit-animation: up-down 5s ease-in-out infinite alternate-reverse both;;
}


.swiper-slide{
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
}

/* Custom Radio Button */

.input-radio{
  position: absolute;
  z-index: -1;
}

.radio__radio{
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
  margin-right: 0.25rem;
  padding: 0.25rem;
}

.radio__radio::before{
  content: '';
  width: 100%;
  height: 100%;
  background-color: #121212;
  border-radius: 50%;
  transition: all 150ms ease;
  display: block;
  transform: scale(0);
}

.input-radio:checked + .radio__radio::before{
  transform: scale(1);
}


.spinner{
animation:spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ant-modal-mask{
background-color: rgba(0, 0, 0, 0.75) !important;
}

.login{
  height: calc(100vh - 3rem);
}
.login-form{
  margin-top: 20vh;
}

.not-found{
height: calc(100vh - 3rem);
}

/* Form */

.ant-form-item-label{
padding: 0 !important;
}

label{
font-size: 12px !important;
font-weight: 500;
}

.ant-input-lg{
  font-size: 13px !important;
  font-weight: 600 !important;
  margin-left: 0.25rem !important;
}

.ant-select-lg, .ant-select-item-option-content, .ant-select-selection-item{
    text-transform: uppercase;
    font-size: 13px !important;
    font-weight: 800 !important;
}

.ant-form-item{
margin-bottom: 12px !important;
}

.ant-btn > span{
font-size: 12px !important;
font-weight: 500;
text-transform: uppercase;
}

.ant-btn{
width: 100% !important;
background-color: #FFF !important;
border-color: none;
border: 1px solid black !important;
color: #121212 !important;
font-weight: 600 !important;
transition: all 150ms ease !important;
}

.ant-btn:hover{
background-color: #171717 !important;
border: 1px solid #FFF !important;
color: #FFF !important;
}

.ant-form-item-explain-error{
font-size: 11px !important;
}

/* Overriding */
.ant-btn-default{
display: none !important;
}

.ant-modal-footer .ant-btn{
margin: 0 !important;
}

.account-title{
font-size: 2.75rem;
font-weight: 500;
position: relative;
}

.account-title::before{
content: 'Join us to keep track url data and so on.';
color: #DA0037;
display: block;
position: absolute;
top: 0px;
right: -5px;
font-size: 2.75rem;

}

.ant-tabs-tabpane{
  padding: 0 !important; 
}

.ant-tabs-tab{

color: #444444 !important;

}

.ant-tabs-nav{
width: 15rem !important;
border-right-color: #444444 !important;
}

.ant-tabs{
  height: 100%;
}

.form-row-element{
margin-right: .5rem !important;
}


/* Profile */

.profile--sidebar--list > li{
width: 100%;

color: white;
height: 3rem;
text-align: center;
cursor: pointer;
line-height: 3rem;
text-transform: uppercase;
font-weight: 300;
font-size: 12px;
}

.profile--sidebar--list > li:not(:last-child){
margin-bottom: 1.25rem;
}

.profile--sidebar--picture--placeholder{
position: relative;
width: 100%;
height: 100%;
border-radius: 100%;
background-color: rgba(0,0,0,0.8);
transform: scale(0);
transition: transform 100ms ease-in-out;
cursor: pointer;
}

.profile--sidebar--picture--placeholder > .edit-icon{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}



.profile--sidebar--picture:hover > .profile--sidebar--picture--placeholder{

transform: scale(1);

}






/* Sidebar */

.sidebar{
position: absolute;
left: -20rem;
top: 0;
display: block;
width: 20rem;
height: 100vh;
background-color: #121212;
z-index: 100;
transition: all 150ms ease-in-out;
}

.sidebar.active{
transform: translateX(20rem);
}



.overlay{
position: fixed;
top: 0;
width: 0vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0.85);
z-index: 90;
}

.overlay.active{

width: 100vw;

}

.header--logo{
  width: 55px;
  height: 60px;
}

footer{
  width: 100%;
  height: 3rem;
  
}

.text--section{
  height: 60vh;
}

.slider--section{
  margin-top: 2rem;
  width: 100%;
  height: 100%;
}

.testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* @Swiper */

.swiper {
  width: 100%;
  height: 300px;
  padding: 0.6rem !important;
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #FFFFFF;
  position: relative;
  z-index: 10;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 12px !important;
}

.container{
  max-width: 72rem/* 1152px */;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}


/* @Timeline */

.timeline--grid{
  display: grid;
  grid-template-areas: "container sidebar";
  grid-template-columns: 6fr 2fr;
  
  grid-gap: 10px;
}

.timeline--header{
  margin-bottom: 10px;
}

.timeline--flow{
  grid-area: "container";
}
.timeline--sidebar{
  grid-area: "sidebar";
  border-radius: 15px;
}
.timeline--sidebar-container{
  position: sticky;
  top: 10px;
  padding: 1rem;
  border-radius: 15px;
}

.flow-item{
  min-height: 150px;
  border-radius: 15px;
  background-color: #FFFFFF;
  padding: 0.5rem 1rem;
}

.flow-item:not(:last-child){
  margin-bottom: 0.5rem;
}

.profile-photo{
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: #DA0037;
}

.profile-photo-comment{
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: #DA0037;
}

.flow-item-header{
  border-bottom: 1px solid #F3F2EF;
}

.me--section-header{
  border-bottom: 1px solid #F3F2EF;
  display: flex;
}

.flow-item-body{
  border-bottom: 1px solid #F3F2EF;
}

.comment-input{
  flex: 1;
  border: 1px solid #d8d7d4;
  text-indent: 5px;
  margin-right: 1rem;
  border-radius: 10px;
  font-size: .75rem;
  font-weight: 600;
  color: black;
}
.comment-button{
  color: #d8d7d4;
  transition: all 150ms;
}
.comment-button:hover{
  color: black;
}

.post-type-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 150ms;
}

.post-type-item:nth-child(1):hover{
  background-color: rgb(255, 199, 199);
  color: rgb(255, 92, 92);
}
.post-type-item:nth-child(2):hover{
  background-color: rgb(188, 183, 255);
  color: rgb(96, 96, 255);
}
.post-type-item:nth-child(3):hover{
  background-color: rgb(169, 255, 191);
  color: rgb(62, 82, 61);
}
.post-type-item:nth-child(4):hover{
  background-color: rgb(255, 236, 172);
  color: rgb(255, 171, 61);
}
.post-type-item > span{

  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 700;

}
.timeline--header-logo{
  width: 3rem;
  height: 3rem;
}

.search-area{
  height: 3rem;
}

.search-input{
  border-radius: 5px;
  z-index: 10;
  background-color: #F3F2EF;
  font-size: .875rem;
  text-indent: 10px;
  font-weight: 600;
  width: 20rem;
}

.btn{
  width: 12rem;
  height: 3rem;
  border: 2px solid black;
  color: black;
  font-weight: 900;
  text-transform: uppercase;
  font-size: .75rem;
  border-radius: 15px;
  transition: all 150ms;
}

.btn:hover{
  background-color: black;
  color: white;
}

.app-name{
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.app-type{
  font-size: 2.15rem;
  font-weight: 700;
}

.hero--girl{
  width: 100%;
  height: 60vh;
}

.testimonial-item{
  border-radius: 15px;
  padding: 2rem 1rem;
}

.text--section{
  display: grid;
}

.main--sidebar{
  position:fixed;
  width: 20vw;
  height: 100vh;
  background: white;
  top: 0;
  left: -20vw;
  transition: all 150ms;
  z-index: 20;
}

.main--sidebar-item{
  text-transform: uppercase;
  width: 100%;
  font-weight: 800;
  font-size: .90rem;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  transition: all 200ms ease;
}

.main--sidebar-item:hover{
  letter-spacing: 2px;
}

.main--sidebar-item>a{
  color: #121212 !important;
}

.main--sidebar-item:not(:last-child){
  margin-bottom: 1rem;
}

.overlay{
  position: fixed;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.overlay.active{
  width: 100vw;
}


.main--sidebar.active{
  left: 0;
}

.admin--menu{
  height: calc(100vh - 3rem);
}
.profile--menu{
  height: calc(100vh - 3rem);
}

.new-profile--page{
  width: 100%;
  height: calc(100vh - 7rem);
}

.profile--page{
  display: grid;
  grid-template-areas: "profile-sidebar profile-content";
  grid-template-columns: 2fr 7fr;
  
}

#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.ant-menu{
  height: 100%;
}

.user-type{
  background-color: #F3F2EF;
  border-radius: 5px;
  color: #121212;
  text-transform: uppercase;
  font-size: 0.70rem;
  padding: 0.25rem;
}

.d-inherit{
  display: inherit;
}

.search--results{
  z-index: 10;
  background-color: white;
  position: absolute;
  bottom: -10rem;
  min-height: 150px;
  width: 0%;
  border-radius: 5px;
  transition: all 50ms ease-in-out;
}

.search--results.active{
  width: 100%;
}

.search--overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0vh; 
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 5;
  transition: all 50m  ease-in-out;
}

.search--overlay.active{
  height: 100vh;
}

.edit-profile-form{
  width: 600px !important;
}